body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
    text-align: center;
    color: white;
}

#bottomRight-line1{
    width: 25%;
    position: absolute;
    text-align: right;
    bottom: 32px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#bottomRight-line2{
    width: 25%;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#bottomRight-img{
    position: absolute;
    bottom: 90px;
    right: .5%;
}

#topLeft-line1{
    width: 25%;
    height: 15%;
    position: absolute;
    top: 0px;
    left: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#topLeft-line2{
    width: 25%;
    height: 15%;
    left: .5%;
    position: absolute;
    top: 25%;
    color: white;
    width: 25%;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#topLeft-img{
    position: absolute;
    top: 90px;
    left: .5%;
}

#topRight-line1{
    text-align: right;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 0px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#topRight-line2{
    text-align: right;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 35px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#topRight-img{
    position: absolute;
    top: 90px;
    right: .5%;
}

#bottomLeft-line1{
    width: 25%;
    position: absolute;
    bottom: 32px;
    left: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#bottomLeft-line2{
    width: 25%;
    position: absolute;
    bottom: 8px;
    left: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#bottomLeft-img{
    position: absolute;
    bottom: 90px;
    left: .5%;
}

#bottomLeft-line2-url{
    color: white;
    text-decoration: none;
}

#bottomLeft-line2-url:visited{
    color: white;
    text-decoration: none;
}

#message{
    top: 45%;
    height: 50%;
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    text-align: center;
    color: red;
}