body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
    text-align: center;
    color: white;
}


#date{
    position: absolute;
    bottom: 32px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#time{
    position: absolute;
    bottom: 8px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#factText{
    position: absolute;
    top: 8px;
    left: .5%;
    color: white;
    width: 25%;
    font-size: 32px;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#temp{
    position: absolute;
    top: 8px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#weatherName{
    position: absolute;
    top: 40px;
    right: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#weatherIcon{
    position: absolute;
    top: 84px;
    right: .5%;
}

#creditText{
    position: absolute;
    bottom: 32px;
    left: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#url{
    position: absolute;
    bottom: 8px;
    left: .5%;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}